<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List Smartphone</title>

</head>
<body>
<form id="add-smartphone">
    <table>
        <tr>
            <td>Producer:</td>
            <td><input type="text" id="producer" placeholder="producer"></td>
        </tr>
        <tr>
            <td>Model:</td>
            <td><input type="text" id="model" placeholder="model"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" id="price" placeholder="price"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" onclick="addNewSmartPhone()"></td>
        </tr>
    </table>
</form>
<h1>Smartphone List</h1>
<table id="smartphoneList">
    <tr>
        <td>Producer</td>
        <td>Model</td>
        <td>Price</td>
        <td>Delete</td>
        <td>update</td>
    </tr>
    <th:block th:each="smartphone: ${smartphones}">
        <tr>
            <td th:text="${smartphone.producer}"></td>
            <td th:text="${smartphone.model}"></td>
            <td th:text="${smartphone.price}"></td>
            <td><button class="deleteSmartphone" th:value="${smartphone.id}">Delete</button></td>
            <td><button class="updatesmartphone" th:value="${smartphone.id}">update</button></td>
        </tr>
    </th:block>
</table>
<div id="update"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function (){
        $('.updatesmartphone').click(function (){
            let idsmartphone=$(this).val();
            console.log(idsmartphone);
            $.ajax({
                type:'get',
                url:`/update/${idsmartphone}`,
                success:function (data){
                    $('#update').html(data);
                }
            })
            event.preventDefault();
        })
        $('#submit').click(function (){
            let procedur=$('#producer').val();
            let model=$('#model').val();
            let price=$('#price').val();
            let id=$('#id').val();
            console.log(procedur,model,price,id)
            let json={
                id:id,
                procedur:procedur,
                model:model,
                price:price
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url:'/smartphone/update',
                type:'get',
                data:JSON.stringify(json),
                success:function (data){
                    $.ajax({
                        url:"/list",
                        type:'get',
                        success:alert("update successfull !!!")
                    })
                }
            })
            event.preventDefault();
        })
    })

</script>
</body>
</html>