<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf - Bootstrap CDN</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h3>ADD NEW PRODUCT</h3>
    <form th:action="@{/update}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="uname">Name Product:</label>
            <input type="text" th:value="*{name}" class="form-control" id="uname" placeholder="Enter username" name="uname" required th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="pwd">Id:</label>
            <input readonly type="number" class="form-control" id="pwd" placeholder="Enter id" name="pswd" th:value="*{id}" th:field="*{id}">

        </div>
        <div class="form-group">
            <label for="uname1">Enter price</label>
            <input type="text" th:value="*{price}" class="form-control" id="uname1" placeholder="Enter username" name="uname1" required th:field="*{price}">
        </div>
        <div class="form-group">
            <label for="uname2">Name Product:</label>
            <select th:field="*{manufacture}" class="form-control" id="uname2" th:value="*{manufacture}">
                <option th:each="row,rowStat : ${linesman}"  th:text="${row}" th:value="${row}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
        integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>