<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{homepage/index::header}">

</head>

<body>
<nav class="navbar navbar-dark bg-dark fixed-top"  th:replace="~{homepage/index::navbar}">
</nav>
<div class="container-fluid row p-0 m-0">
    <div class="col-2 sidebar" style="padding: 0;" th:replace="~{homepage/index::sidebar}">
    </div>
    <div class="col-10 p-0">
        <div class="container-fluid">
            <div class="form-row">
                <div class="form-group col-3 ml-3 mr-auto">
                    <button class="addnew"><a th:href="@{/employee/create}"><span><i class="fas fa-plus"></i></span>Thêm Mới Nhân Viên</a></button>
                </div>
                <div class="form-group col-3">
                    <button class="addnew ml-auto"><a th:href="@{/customer}"><span><i class="fas fa-list"></i></span>Danh Sách Khách Hàng</a></button>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding: 0px 40px 20px;">
            <form th:action="@{/employee}">
                <div class="form-row">
                    <div class="form-group col-3">
                        <label for="inputCity" class="font-weight-bold">Họ Và Tên</label>
                        <input type="text" class="form-control" id="inputCity" name="name" placeholder="VD: Bùi Thành Tài">
                    </div>
                    <div class="form-group col-3">
                        <label for="code" class="font-weight-bold">Địa Chỉ</label>
                        <input type="text" class="form-control" id="code" name="address" placeholder="VD: Đà Nẵng">
                    </div>
                    <div class="form-group col-3">
                        <label for="position" class="font-weight-bold">Chức Vụ</label>
                        <select class="custom-select" id="position" name="position">
                            <option th:value="null">----Select----</option>
                            <th:block th:each="row:${positions}">
                                <option th:text="${row.positionName}" th:value="${row.positionId}">One</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label for="typeCustomer" class="font-weight-bold">Bộ Phận</label>
                        <select class="custom-select" id="typeCustomer" name="division">
                            <option th:value="null">----Select----</option>
                            <th:block th:each="row2:${divisions}">
                                <option th:text="${row2.divisionName}" th:value="${row2.divisionId}">One</option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="addnew col-1" style="color: white"> Tìm Kiếm</button>
                </div>
            </form>
        </div>

        <div class="row container-fluid table-responsive " style="padding: 0px 40px 20px;">
            <h4>DANH SÁCH NHÂN VIÊN</h4>
            <table class="table table-bordered table-hover mytable">
                <thead class="thead-light">
                <tr>
                    <th>STT</th>
                    <th>Mã Nhân Viên</th>
                    <th>Họ Và Tên</th>
                    <th>Giới Tính</th>
                    <th>Địa Chỉ</th>
                    <th>Số Điện thoại</th>
                    <th>Vị Trí</th>
                    <th>Chi tiết</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="row,stat:${list}">
                    <tr>
                        <td th:text="${stat.count}">John</td>
                        <td th:text="${row.codeEmployee}">Doe</td>
                        <td th:text="${row.employeeName}">Doe</td>
                        <td th:text="${row.employeeGender}">Doe</td>
                        <td th:text="${row.employeeAddress}">Doe</td>
                        <td th:text="${row.employeePhone}">Doe</td>
                        <td th:text="${row.position.positionName}"> Doe</td>
                        <td ><button class="bg-info"><a th:href="@{/employee/view/{id}(id=${row.employeeId})}"><span><i class="fas fa-eye"></i></span> Chi tiết</a></button></td>
                        <td ><button class="bg-primary"><a th:href="@{/employee/update/{id}(id=${row.employeeId})}"><span><i class="fas fa-user-edit "></i></span>Sửa</a></button></td>
                        <td > <button class="bg-danger"><a class="deletecustomer" th:data-delete="${row.employeeId}"><span><i class="fas fa-trash-alt"></i></span>Xóa</a></button></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <div class="container-fluid">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{'/employee'(page=${list.number-1},name=${name},address=${address},position=${position},division=${division})}" aria-label="Previous" th:if="${list.hasPrevious()}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <span class="page-link"  aria-label="Previous" th:unless="${list.hasPrevious()}">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <th:block th:each="i:${#numbers.sequence(1,list.totalPages)}">
                        <li class="page-item" >
                            <a class="page-link" href="#" th:if="${i!=(list.number+1)}" th:href="@{'/employee'(page=${i},name=${name},address=${address},position=${position},division=${division})}">[[${i}]]</a>
                        </li>
                        <li class="page-item" >
                            <span class="page-link" href="#" th:unless="${i!=(list.number+1)}">[[${i}]]</span>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" th:if="${list.hasNext()}" th:href="@{'/employee'(page=${list.number+1},name=${name},address=${address},position=${position},division=${division})}" >
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <span class="page-link" aria-label="Next" th:unless="${list.hasNext()}">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">WARNING</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa không ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"><a id="agreedelete" href="#" style="color: white;text-decoration: none">Đồng ý</a></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:replace="~{homepage/index::footer}">

</footer>
<script th:inline="javascript">

    $(document).ready(function (){
        $('.deletecustomer').click(function (){
            var id=$(this).data("delete");
            console.log(id);
            $('#agreedelete').attr('href',`http://localhost:8080/employee/delete/${id}`);
            var nameCustomer=$(this).parent().parent().parent().children().eq(2).text();
            var codeCustomer=$(this).parent().parent().parent().children().eq(1).text();
            $("#myModal").modal("show");
            $(".modal-body").text(`bạn có muốn xóa khách hàng [${codeCustomer} ] ${nameCustomer}`);
        })
    })
</script>
</body>

</html>