<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{homepage/index::header}">

</head>

<body>
<nav class="navbar navbar-dark bg-dark fixed-top"  th:replace="~{homepage/index::navbar}">
</nav>
<div class="container-fluid row p-0 m-0">
    <div class="col-2 sidebar" style="padding: 0;" th:replace="~{homepage/index::sidebar}">
    </div>
    <div class="col-10 p-0">
        <div class="container-fluid bg-light pt-3 pb-3" th:fragment="process-bar">
            <span>KHÁCH HÀNG</span>
            <span><i class="fas fa-chevron-right"></i></span><span>DANH SÁCH</span>
            <span><i class="fas fa-chevron-right"></i></span><span>CHI TIẾT</span>
        </div>
        <div class="container-fluid">
            <div class="form-row">
                <div class="form-group col-2 ml-3 mr-auto">
                    <button class="addnew"><a th:href="@{/customer/create}"><span><i class="fas fa-plus"></i></span>    Them Moi</a></button>
                </div>
                <div class="form-group col-3">
                    <button class="addnew ml-auto"><a th:href="@{/customer}"><span><i class="fas fa-list"></i></span>Danh Sách Khách Hàng</a></button>
                </div>
            </div>
        </div>
        <div class="row container-fluid table-responsive " style="padding: 20px 40px;">
            <table>
                <tr>
                    <th>Mã Nhân Viên </th>
                    <td th:text="${object.codeEmployee}"></td>
                </tr>
                <tr>
                    <th>Tên Nhân Viên </th>
                    <td th:text="${object.employeeName}"></td>
                </tr>
                <tr>
                    <th>Ngày Sinh  </th>
                    <td th:text="${object.employeeBirthday}"></td>
                </tr>
                <tr>
                    <th>Giới Tính  </th>
                    <td th:text="${object.employeeGender}"></td>
                </tr>
                <tr>
                    <th>Số CMND </th>
                    <td th:text="${object.employeeIdCard}"></td>
                </tr>
                <tr>
                    <th>SDT Nhân Viên </th>
                    <td th:text="${object.employeePhone}"></td>
                </tr>
                <tr>
                    <th>Email Nhân viên </th>
                    <td th:text="${object.employeeEmail}"></td>
                </tr>
                <tr>
                    <th>Địa Chỉ Nhân Viên </th>
                    <td th:text="${object.employeeAddress}"></td>
                </tr>
                <tr>
                    <th>Chức Vụ </th>
                    <td th:text="${object.position.positionName}"></td>
                </tr>
                <tr>
                    <th>Bộ Phận </th>
                    <td th:text="${object.division.divisionName}"></td>
                </tr>
                <tr>
                    <th>Bằng Cấp </th>
                    <td th:text="${object.educationDegree.educationName}"></td>
                </tr>

            </table>
        </div>
    </div>
</div>
<footer th:replace="~{homepage/index::footer}">

</footer>
</body>

</html>