<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{homepage/index::header}">

</head>

<body>
<nav class="navbar navbar-dark bg-dark fixed-top"  th:replace="~{homepage/index::navbar}">
</nav>
<div class="container-fluid row p-0 m-0">
    <div class="col-2 sidebar" style="padding: 0;" th:replace="~{homepage/index::sidebar}">
    </div>
    <div class="col-10 p-0 h-100">
        <div class="container"><span style="font-size: 280px"><i class="fas fa-exclamation-triangle"></i></span></div>
        <div class="container" style="display: flex;align-items: center;justify-content: center">
            <h1>BẠN KHÔNG ĐỦ QUYỀN TRUY CẬP TRANG NÀY</h1>
        </div>
    </div>
</div>
<footer th:replace="~{homepage/index::footer}">

</footer>

</body>

</html>