<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="login-box-body">
        <h4 class="login-box-msg">

        </h4>
        <form th:object="${user}">
            <div class="form-group">
                <label for="exampleInputName">Full Name</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" th:field="*{userName}">
                <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{email}">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword" th:field="*{password}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Retype Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{}">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

        </form>
    </div>
</div>
</body>
</html>