<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.6.0-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-3 sticky-top">
        <div class="container-fluid p-4 ">
            <div> <button class="btn btn-primary"><a th:href="@{/product/get-create}" style="color: white">ADD NEW PRODUCT</a></button></div>
            <form th:action="@{/product}" class="form-row ml-1">
                <div class="form-group w-100">
                    <label>Category</label>
                    <select class="form-control w-100" name="category" >
                        <option th:value="null">category</option>
                        <option th:each="row: ${categories}" th:value="${row.id}" th:text="${row.name}">option 1</option>
                    </select>
                </div>
                <label class="form-label">Name</label>
                <div class="input-group mb-3">
                    <input name="name"  type="text" class="form-control" placeholder="Enter name" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <label class="form-label">Color</label>
                <div class="input-group mb-3">
                    <input name="color" type="text" class="form-control" placeholder="Enter color" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <label class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">From</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="price1">
                    <span class="input-group-text">To</span>
                    <input type="text" class="form-control" placeholder="Server" aria-label="Server" name="price2">
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary mt-3 form-control">Search</button>
                </div>
            </form>
            <button class="btn btn-primary form-control mt-3"><a th:href="@{/product}" style="color: white">LIST PRODUCT</a></button>
        </div>
    </div>
    <div class="col-9">
        <h2>LIST CATEGORY</h2>
        <table  class="table table-hover">
            <tr>
                <th>STT</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price($)</th>
                <th>Color</th>
                <th>Amount</th>
                <th>Category</th>
                <th width="150px">Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <th:block th:each="row,stat : ${products.getContent()}">
                <tr>
                    <th th:text="${stat.count}"></th>
                    <td><img th:src="@{/image/{image}(image=${row.productDetail.image})}" width="150px"></td>
                    <td th:text="${row.name}"></td>
                    <td th:text="${row.price}"></td>
                    <td th:text="${row.color}"></td>
                    <td th:text="${row.amount}"></td>
                    <td th:text="${row.category.name}"></td>
                    <td th:text="${row.productDetail.discription}"></td>
                    <td><a th:href="@{/product/get-update/id(id=${row.id})}">Update</a></td>
                    <td><a th:href="@{/product/delete/id(id=${row.id})}">Delete</a></td>
                </tr>
            </th:block>
        </table>
        <div class="mb-2">
            <a th:href="@{'/product'(page=${products.number - 1},price1=${price1},price2=${price2},name=${name},color=${color},category=${category})}" th:if="${products.hasPrevious()}">Previous</a>
            <span th:text="${products.number+1}"></span>/<span th:text="${products.totalPages}"></span>
            <a th:href="@{'/product'(page=${products.number + 1},price1=${price1},price2=${price2},name=${name},color=${color},category=${category})}" th:if="${products.hasNext()}">Next</a>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-4.6.0-dist/js/bootstrap.min.js}"></script>
</body>
</html>